{% load static %}

<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="{% static 'img/fav.png' %}">
	<!-- Author Meta -->
	<meta name="author" content="CodePixar">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>Karma Shop</title>

	<!--
            CSS
            ============================================= -->
	<link rel="stylesheet" href="{% static 'css/linearicons.css'%}">
	<link rel="stylesheet" href="{% static 'css/owl.carousel.css'%}">
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css'%}">
	<link rel="stylesheet" href="{% static 'css/themify-icons.css'%}">
	<link rel="stylesheet" href="{% static 'css/nice-select.css'%}">
	<link rel="stylesheet" href="{% static 'css/nouislider.min.css'%}">
	<link rel="stylesheet" href="{% static 'css/bootstrap.css'%}">
	<link rel="stylesheet" href="{% static 'css/main.css'%}">
</head>

<body id="category">

	<!-- Start Header Area -->
	<header class="header_area sticky-header">
		<div class="main_menu">
			<nav class="navbar navbar-expand-lg navbar-light main_box">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<a class="navbar-brand logo_h" href=""><img src="{% static 'img/logo.png'%}" alt=""></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
						<ul class="nav navbar-nav menu_nav ml-auto">
							<li class="nav-item active"><a class="nav-link" href="">Головна</a></li>
							<li class="nav-item submenu dropdown">
								<a href="" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
								 aria-expanded="false">Магазин</a>
								<ul class="dropdown-menu">
									<li class="nav-item"><a class="nav-link" href="/category">Всі товари</a></li>
									<li class="nav-item"><a class="nav-link" href="/single-product">Деталі продукта</a></li>
									<li class="nav-item"><a class="nav-link" href="/checkout">Форма покупки</a></li>
									<li class="nav-item"><a class="nav-link" href="/cart">Кошик</a></li>
									<li class="nav-item"><a class="nav-link" href="/confirmation">Підтвердження заказу</a></li>
								</ul>
							<li class="nav-item submenu dropdown">
								<a href="" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
								 aria-expanded="false">Сторінки</a>
								<ul class="dropdown-menu">
									<li class="nav-item"><a class="nav-link" href="/login">Реестрація</a></li>
									<li class="nav-item"><a class="nav-link" href="/tracking">Трекінг</a></li>
									<li class="nav-item"><a class="nav-link" href="/elements">Елементи (розробка)</a></li>
								</ul>
							</li>
							<li class="nav-item"><a class="nav-link" href="/contact">Контакти</a></li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li class="nav-item"><a href="/cart" class="cart"><span class="ti-bag"></span></a></li>
							<li class="nav-item">
								<button class="search"><span class="lnr lnr-magnifier" id="search"></span></button>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
		<div class="search_input" id="search_input_box">
			<div class="container">
				<form class="d-flex justify-content-between">
					<input type="text" class="form-control" id="search_input" placeholder="Впишіть назву товару">
					<button type="submit" class="btn"></button>
					<span class="lnr lnr-cross" id="close_search" title="Close Search"></span>
				</form>
			</div>
		</div>
	</header>
	<!-- End Header Area -->

	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Товари</h1>
					<nav class="d-flex align-items-center">
						<a href="index.html">Головна<span class="lnr lnr-arrow-right"></span></a>
						<a href="category.html">Товари</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->
	<div class="container">
		<div class="row">
			<div class="col-xl-3 col-lg-4 col-md-5">
				<div class="sidebar-categories">
					<div class="head">Категорії</div>


					<ul class="main-categories">
						<li class="main-nav-list"><a data-toggle="collapse" href="#meatFish" aria-expanded="false" aria-controls="all2"><span
								 class="lnr lnr-arrow-right"></span>Всі<span class="number">(28)</span></a>
							<ul class="collapse" id="meatFish" data-toggle="collapse" aria-expanded="false" aria-controls="meatFish">
								<li class="main-nav-list child"><a href="#">Спорт<span class="number">(8)</span></a></li>
								<li class="main-nav-list child"><a href="#">Повсякденне<span class="number">(20)</span></a></li>
							</ul>
							<li class="main-nav-list"><a data-toggle="collapse" href="#men" aria-expanded="false" aria-controls="men"><span
								class="lnr lnr-arrow-right"></span>Чоловіче взуття<span class="number">(10)</span></a>
							</li>
						   <ul class="collapse" id="men" data-toggle="collapse" aria-expanded="false" aria-controls="men">
							   <li class="main-nav-list child"><a href="#">Спорт<span class="number">(3)</span></a></li>
							   <li class="main-nav-list child"><a href="#">Повсякденне<span class="number">(7)</span></a></li>
						   </ul>
						</li>
						<li class="main-nav-list"><a data-toggle="collapse" href="#woman" aria-expanded="false" aria-controls="woman"><span
								 class="lnr lnr-arrow-right"></span>Жіноче взуття<span class="number">(11)</span></a>
								 <ul class="collapse" id="woman" data-toggle="collapse" aria-expanded="false" aria-controls="woman">
									<li class="main-nav-list child"><a href="#">Спорт<span class="number">(4)</span></a></li>
									<li class="main-nav-list child"><a href="#">Повсякденне<span class="number">(7)</span></a></li>
								</ul>
						</li>
						<li class="main-nav-list"><a data-toggle="collapse" href="#kids" aria-expanded="false" aria-controls="kids"><span
								 class="lnr lnr-arrow-right"></span>Дитяче взуття<span class="number">(10)</span></a>
								 <ul class="collapse" id="kids" data-toggle="collapse" aria-expanded="false" aria-controls="kids">
									<li class="main-nav-list child"><a href="#">Спорт<span class="number">(2)</span></a></li>
									<li class="main-nav-list child"><a href="#">Повсякденне<span class="number">(8)</span></a></li>
								</ul>
						</li>
						<li class="main-nav-list"><a data-toggle="collapse" href="#care" aria-expanded="false" aria-controls="care"><span
								 class="lnr lnr-arrow-right"></span>Засоби для догляду<span class="number">(7)</span></a>
						</li>

						<li class="main-nav-list"><a data-toggle="collapse" href="#accessories" aria-expanded="false" aria-controls="accessories"><span
							class="lnr lnr-arrow-right"></span>Аксесуари до взуття<span class="number">(5)</span></a>
				   		</li>
						</ul>
						</li>
					</ul>
				</div>
				<div class="sidebar-filter mt-50">
					<div class="top-filter-head">Фільтр</div>
					<div class="common-filter">
						<div class="head">Модель</div>
						<form action="#">
							<ul>
								<li class="filter-list"><input class="pixel-radio" type="radio" id="all" name="model"><label for="all">Всі</label></li>
								<li class="filter-list"><input class="pixel-radio" type="radio" id="airmax" name="model"><label for="airmax">Air Max</label></li>
								<li class="filter-list"><input class="pixel-radio" type="radio" id="lebron" name="model"><label for="lebron">LeBron</label></li>
								<li class="filter-list"><input class="pixel-radio" type="radio" id="airjordan" name="model"><label for="airjordan">Air Jordan</label></li>
								<li class="filter-list"><input class="pixel-radio" type="radio" id="blazer" name="model"><label for="blazer">Blazer</label></li>
								<li class="filter-list"><input class="pixel-radio" type="radio" id="metcon" name="model"><label for="metcon">Metcon</label></li>
							</ul>
						</form>
					</div>
					<div class="common-filter">
						<div class="head">Колір</div>
						<form action="">
							<ul>
								<li class="filter-list"><input class="pixel-radio" type="radio" id="black" name="color"><label for="black">Чорні<span>(29)</span></label></li>
								<li class="filter-list"><input class="pixel-radio" type="radio" id="gray" name="color"><label for="gray">Сірі<span>(29)</span></label></li>
								<li class="filter-list"><input class="pixel-radio" type="radio" id="white" name="color"><label for="white">Білі<span>(19)</span></label></li>
								<li class="filter-list"><input class="pixel-radio" type="radio" id="gold" name="color"><label for="gold">Золоті<span>(19)</span></label></li>
								<li class="filter-list"><input class="pixel-radio" type="radio" id="colorful" name="color"><label for="colorful">Різно-кольорові<span>(19)</span></label></li>
							</ul>
						</form>
					</div>
					<div class="common-filter">
						<div class="head">Ціна</div>
						<div class="price-range-area">
							<div id="price-range"></div>
							<div class="value-wrapper d-flex">
								<div class="price">Ціна:</div>
								<span>$</span>
								<div id="lower-value"></div>
								<div class="to">до</div>
								<span>$</span>
								<div id="upper-value"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-9 col-lg-8 col-md-7">
				<!-- Start Filter Bar -->
				<div class="filter-bar d-flex flex-wrap align-items-center">
					<div class="sorting">
						<select>
							<option value="1">Найпопулярніші</option>
							<option value="2">Від дешевих до дорогих</option>
							<option value="3">Від дорогих до дешевих</option>
							<option value="4">Знижки</option>
						</select>
					</div>
					<div class="pagination">
						<a href="#" class="prev-arrow"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>
						<a href="#" class="active">1</a>
						<a href="#">2</a>
						<a href="#">3</a>
						<a href="#" class="dot-dot"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>
						<a href="#">6</a>
						<a href="#" class="next-arrow"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
					</div>
				</div>
				<!-- End Filter Bar -->
				<!-- Start Best Seller -->
				<section class="lattest-product-area pb-40 category-list">
					<div class="row">
						<!-- single product -->
						<div class="col-lg-4 col-md-6">
							<div class="single-product">
								<img class="img-fluid" src="{% static 'img/product/p1.jpg'%}" alt="">
								<div class="product-details">
									<h6>Nike New Hammer sole
									for Sports person</h6>
								<div class="price">
									<h6>$250.00</h6>
									<h6 class="l-through">$310.00</h6>
								</div>
								<div class="prd-bottom">
									<a href="cart.html" class="social-info">
										<span class="ti-bag"></span>
										<p class="hover-text">Кошик</p>
									</a>
									<a href="single-product.html" class="social-info">
										<span class="lnr lnr-move"></span>
										<p class="hover-text">Подробиці</p>
										</a>
									</div>
								</div>
							</div>
						</div>
						<!-- single product -->
						<div class="col-lg-4 col-md-6">
							<div class="single-product">
								<img class="img-fluid" src={% static 'img/product/p2.jpg'%} alt="">
								<div class="product-details">
									<h6>Nike Air Jordan 1 Retro High OG</h6>
								<div class="price">
									<h6>$170.00</h6>
									<h6 class="l-through">$250.00</h6>
								</div>
								<div class="prd-bottom">

									<a href="cart.html" class="social-info">
										<span class="ti-bag"></span>
										<p class="hover-text">Кошик</p>
									</a>
									<a href="single-product.html" class="social-info">
										<span class="lnr lnr-move"></span>
										<p class="hover-text">Подробиці</p>
										</a>
									</div>
								</div>
							</div>
						</div>
						<!-- single product -->
						<div class="col-lg-4 col-md-6">
							<div class="single-product">
								<img class="img-fluid" src="{% static 'img/product/p3.jpg'%}" alt="">
								<div class="product-details">
									<h6>Nike Blazer Low Platform</h6>
								<div class="price">
									<h6>$150.00</h6>
									<h6 class="l-through">$210.00</h6>
								</div>
								<div class="prd-bottom">
									<a href="cart.html" class="social-info">
										<span class="ti-bag"></span>
										<p class="hover-text">Кошик</p>
									</a>
									<a href="single-product.html" class="social-info">
										<span class="lnr lnr-move"></span>
										<p class="hover-text">Подробиці</p>
										</a>
									</div>
								</div>
							</div>
						</div>
						<!-- single product -->
						<div class="col-lg-4 col-md-6">
							<div class="single-product">
								<img class="img-fluid" src="{% static 'img/product/p4.jpg'%}" alt="">
								<div class="product-details">
									<h6>Nike Blazer Mid Next Nature</h6>
								<div class="price">
									<h6>$130.00</h6>
									<h6 class="l-through">$200.00</h6>
								</div>
								<div class="prd-bottom">

									<a href="cart.html" class="social-info">
										<span class="ti-bag"></span>
										<p class="hover-text">Кошик</p>
									</a>
									<a href="single-product.html" class="social-info">
										<span class="lnr lnr-move"></span>
										<p class="hover-text">Подробиці</p>
										</a>
									</div>
								</div>
							</div>
						</div>
						<!-- single product -->
						<div class="col-lg-4 col-md-6">
							<div class="single-product">
								<img class="img-fluid" src="{% static 'img/product/p5.jpg'%}" alt="">
								<div class="product-details">
									<h6>Nike Metcon 8</h6>
								<div class="price">
									<h6>$270.00</h6>
									<h6 class="l-through">$350.00</h6>
								</div>
								<div class="prd-bottom">

									<a href="cart.html" class="social-info">
										<span class="ti-bag"></span>
										<p class="hover-text">Кошик</p>
									</a>
									<a href="single-product.html" class="social-info">
										<span class="lnr lnr-move"></span>
										<p class="hover-text">Подробиці</p>
										</a>
									</div>
								</div>
							</div>
						</div>
						<!-- single product -->
						<div class="col-lg-4 col-md-6">
							<div class="single-product">
								<img class="img-fluid" src="{% static 'img/product/p6.jpg'%}" alt="">
								<div class="product-details">
									<h6>Nike Pegasus Turbo Next Nature</h6>
								<div class="price">
									<h6>$110.00</h6>
									<h6 class="l-through">$210.00</h6>
								</div>
								<div class="prd-bottom">

									<a href="cart.html" class="social-info">
										<span class="ti-bag"></span>
										<p class="hover-text">Кошик</p>
									</a>
									<a href="single-product.html" class="social-info">
										<span class="lnr lnr-move"></span>
										<p class="hover-text">Подробиці</p>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- End Best Seller -->
				<!-- Start Filter Bar -->
				<div class="filter-bar d-flex flex-wrap align-items-center">
					<div class="sorting mr-auto">
						<select>
							<option value="1">Show 12</option>
							<option value="1">Show 12</option>
							<option value="1">Show 12</option>
						</select>
					</div>
					<div class="pagination">
						<a href="#" class="prev-arrow"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>
						<a href="#" class="active">1</a>
						<a href="#">2</a>
						<a href="#">3</a>
						<a href="#" class="dot-dot"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>
						<a href="#">6</a>
						<a href="#" class="next-arrow"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
					</div>
				</div>
				<!-- End Filter Bar -->
			</div>
		</div>
	</div>

	<!-- Start related-product Area -->
	<section class="related-product-area section_gap_bottom">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6 text-center">
					<div class="section-title">
						<h1>Найпопулярніші</h1>
						<p>Найпопулярніші товари зі скидкою.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-9">
					<div class="row">
						<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
							<div class="single-related-product d-flex">
								<a href="single-product.html"><img src="{% static 'img/r1.jpg'%}"  alt=""></a>
								<div class="desc">
									<a href="single-product.html" class="title">KD Trey 5 X</a>
									<div class="price">
										<h6>$189.00</h6>
										<h6 class="l-through">$210.00</h6>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
							<div class="single-related-product d-flex">
								<a href="single-product.html"><img src="{% static 'img/r2.jpg'%}" alt=""></a>
								<div class="desc">
									<a href="single-product.html" class="title">Nike Dunk High Retro SE</a>
									<div class="price">
										<h6>$239.00</h6>
										<h6 class="l-through">$310.00</h6>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
							<div class="single-related-product d-flex">
								<a href="single-product.html"><img src="{% static 'img/r3.jpg'%}" alt=""></a>
								<div class="desc">
									<a href="single-product.html" class="title">Nike Air Force 1 LV8</a>
									<div class="price">
										<h6>$219.00</h6>
										<h6 class="l-through">$250.00</h6>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
							<div class="single-related-product d-flex">
								<a href="single-product.html"><img src="{% static 'img/r5.jpg'%}" alt=""></a>
								<div class="desc">
									<a href="single-product.html" class="title">Nike Air Max Penny</a>
									<div class="price">
										<h6>$149.00</h6>
										<h6 class="l-through">$250.00</h6>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
							<div class="single-related-product d-flex">
								<a href="single-product.html"><img src="{% static 'img/r6.jpg'%}" alt=""></a>
								<div class="desc">
									<a href="single-product.html" class="title">Nike Air Trainer SC High</a>
									<div class="price">
										<h6>$129.00</h6>
										<h6 class="l-through">$190.00</h6>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
							<div class="single-related-product d-flex">
								<a href="single-product.html"><img src="{% static 'img/r7.jpg'%}" alt=""></a>
								<div class="desc">
									<a href="single-product.html" class="title">Air Jordan 11 CMFT Low</a>
									<div class="price">
										<h6>$119.00</h6>
										<h6 class="l-through">$230.00</h6>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="single-related-product d-flex">
								<a href="single-product.html"><img src="{% static 'img/r9.jpg'%}" alt=""></a>
								<div class="desc">
									<a href="single-product.html" class="title">Nike Air Max 95 N7</a>
									<div class="price">
										<h6>$199.00</h6>
										<h6 class="l-through">$220.00</h6>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="single-related-product d-flex">
								<a href="single-product.html"><img src="{% static 'img/r10.jpg'%}" alt=""></a>
								<div class="desc">
									<a href="single-product.html" class="title">Nike LeBron XX</a>
									<div class="price">
										<h6>$289.00</h6>
										<h6 class="l-through">$310.00</h6>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="single-related-product d-flex">
								<a href="single-product.html"><img src="{% static 'img/r11.jpg'%}" alt=""></a>
								<div class="desc">
									<a href="single-product.html" class="title">Nike Free Metcon 4</a>
									<div class="price">
										<h6>$229.00</h6>
										<h6 class="l-through">$280.00</h6>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="ctg-right">
						<a href="category.html" target="_blank">
							<img class="img-fluid d-block mx-auto" src="{% static 'img/category/c5.jpg'%}"  alt="">
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End related-product Area -->

	<!-- start footer Area -->
	<footer class="footer-area section_gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-3  col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6>Про нас?</h6>
						<p>
							Ласкаво просимо до нашого магазину Nike! Ми прагнемо надавати вам найновіші та найкращі спортивні туфлі, одяг і аксесуари від одного з найнадійніших і відомих брендів у світі.
						</p>
					</div>
				</div>
				<div class="col-lg-4  col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6>Підписка</h6>
						<p>Ми залюбки будимо інформувати Вас лише о знижках.</p>
						<div class="" id="mc_embed_signup">

							<form target="_blank" novalidate="true" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
							 method="get" class="form-inline">

								<div class="d-flex flex-row">

									<input class="form-control" name="EMAIL" placeholder="Enter Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email '"
									 required="" type="email">


									<button class="click-btn btn btn-default"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
									<div style="position: absolute; left: -5000px;">
										<input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
									</div>

									<!-- <div class="col-lg-4 col-md-4">
												<button class="bb-btn btn"><span class="lnr lnr-arrow-right"></span></button>
											</div>  -->
								</div>
								<div class="info"></div>
							</form>
						</div>
					</div>
				</div>
				<div class="col-lg-3  col-md-6 col-sm-6">
					<div class="single-footer-widget mail-chimp">
						<h6 class="mb-20">Instragram фото</h6>
						<ul class="instafeed d-flex flex-wrap">
							<li><img src="{% static 'img/i1.jpg' %}" alt=""></li>
							<li><img src="{% static 'img/i2.jpg' %}" alt=""></li>
							<li><img src="{% static 'img/i3.jpg' %}" alt=""></li>
							<li><img src="{% static 'img/i4.jpg' %}" alt=""></li>
							<li><img src="{% static 'img/i5.jpg' %}" alt=""></li>
							<li><img src="{% static 'img/i6.jpg' %}" alt=""></li>
							<li><img src="{% static 'img/i7.jpg' %}" alt=""></li>
							<li><img src="{% static 'img/i8.jpg' %}" alt=""></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-2 col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6>Follow Us</h6>
						<p>Приєдуйся до нашої великої родини!</p>
						<div class="footer-social d-flex align-items-center">
							<a href="https://github.com/AngelOfDeath-UA"><i class="fa fa-facebook"></i></a>
							<a href="https://github.com/AngelOfDeath-UA"><i class="fa fa-twitter"></i></a>
							<a href="https://github.com/AngelOfDeath-UA"><i class="fa fa-dribbble"></i></a>
							<a href="https://github.com/AngelOfDeath-UA"><i class="fa fa-behance"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-bottom d-flex justify-content-center align-items-center flex-wrap">
				<p class="footer-text m-0">
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://github.com/AngelOfDeath-UA" target="_blank">AngelOfDeath-UA</a>

</p>
			</div>
		</div>
	</footer>
	<!-- End footer Area -->

	<!-- Modal Quick Product View -->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="container relative">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<div class="product-quick-view">
					<div class="row align-items-center">
						<div class="col-lg-6">
							<div class="quick-view-carousel">
								<div class="item" style="background: url(../../../static/img/product/p6.jpg);">

								</div>
								<div class="item" style="background: url(../../../static/img/product/p5.jpg);">

								</div>
								<div class="item" style="background: url(../../../static/img/product/p4.jpg);">

								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="quick-view-content">
								<div class="top">
									<h3 class="head">Mill Oil 1000W Heater, White</h3>
									<div class="price d-flex align-items-center"><span class="lnr lnr-tag"></span> <span class="ml-10">$149.99</span></div>
									<div class="category">Category: <span>Household</span></div>
									<div class="available">Availibility: <span>In Stock</span></div>
								</div>
								<div class="middle">
									<p class="content">Mill Oil is an innovative oil filled radiator with the most modern technology. If you are
										looking for something that can make your interior look awesome, and at the same time give you the pleasant
										warm feeling during the winter.</p>
									<a href="#" class="view-full">View full Details <span class="lnr lnr-arrow-right"></span></a>
								</div>
								<div class="bottom">
									<div class="color-picker d-flex align-items-center">Color:
										<span class="single-pick"></span>
										<span class="single-pick"></span>
										<span class="single-pick"></span>
										<span class="single-pick"></span>
										<span class="single-pick"></span>
									</div>
									<div class="quantity-container d-flex align-items-center mt-15">
										Quantity:
										<input type="text" class="quantity-amount ml-15" value="1" />
										<div class="arrow-btn d-inline-flex flex-column">
											<button class="increase arrow" type="button" title="Increase Quantity"><span class="lnr lnr-chevron-up"></span></button>
											<button class="decrease arrow" type="button" title="Decrease Quantity"><span class="lnr lnr-chevron-down"></span></button>
										</div>

									</div>
									<div class="d-flex mt-20">
										<a href="#" class="view-btn color-2"><span>Add to Cart</span></a>
										<a href="#" class="like-btn"><span class="lnr lnr-layers"></span></a>
										<a href="#" class="like-btn"><span class="lnr lnr-heart"></span></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



	<script src="{% static 'js/vendor/jquery-2.2.4.min.js' %}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
	 crossorigin="anonymous"></script>
	<script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
	<script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
	<script src="{% static 'js/jquery.sticky.js' %}"></script>
	<script src="{% static 'js/nouislider.min.js' %}"></script>
	<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'js/owl.carousel.min.js' %}"></script>
	<!--gmaps Js-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
	<script src="{% static 'js/gmaps.min.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
</body>

</html>