{%  extends 'base.html' %}
{% load static %}


{% block page_content %}

	<!--================Order Details Area =================-->
	<section class="order_details section_gap">
		<div class="container">
			<h3 class="title_confirmation">Дякую. Ваше замовлення отримано та готується до відправки.</h3>
			<div class="row order_d_inner">
				<div class="col-lg-4">
					<div class="details_item">
						<h4>Заказ</h4>
						<ul class="list">
							<li><a href="#"><span>Номер заказу</span> : 60235</a></li>
							<li><a href="#"><span>Місто</span> : Харків</a></li>
							<li><a href="#"><span>Зашалом</span> : USD 1200</a></li>
							<li><a href="#"><span>Оплата</span> : Карткою</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="details_item">
						<h4>Адреса Доставки</h4>
						<ul class="list">
							<li><a href="#"><span>Вулиця,будинок</span> : Сумська, 64</a></li>
							<li><a href="#"><span>Місто</span> : Харків</a></li>
							<li><a href="#"><span>Країна</span> : Україна</a></li>
							<li><a href="#"><span>Індекс </span> : 61002</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="details_item">
						<h4>Адреса Відправки</h4>
						<ul class="list">
							<li><a href="#"><span>Вулиця,будинок</span> : Хрещатик, 36</a></li>
							<li><a href="#"><span>Місто</span> : Київ</a></li>
							<li><a href="#"><span>Країна</span> : Україна</a></li>
							<li><a href="#"><span>Індекс </span> : 01044</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="order_details_table">
				<h2>Деталі заказу</h2>
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th scope="col">Продукт</th>
								<th scope="col">Кількість</th>
								<th scope="col">Ціна</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<p>NIKE LEBRON XX</p>
								</td>
								<td>
									<h5>x 01</h5>
								</td>
								<td>
									<p>$310.00</p>
								</td>
							</tr>
							<tr>
								<td>
									<p>NIKE FREE METCON 4</p>
								</td>
								<td>
									<h5>x 01</h5>
								</td>
								<td>
									<p>$230.00</p>
								</td>
							</tr>
							<tr>
								<td>
									<p>NIKE AIR FORCE 1 LV8</p>
								</td>
								<td>
									<h5>x 01</h5>
								</td>
								<td>
									<p>$140.00</p>
								</td>
							</tr>
							<tr>
								<td>
									<h4>Вартість взуття</h4>
								</td>
								<td>
									<h5></h5>
								</td>
								<td>
									<p>$680.00</p>
								</td>
							</tr>
							<tr>
								<td>
									<h4>Доставка</h4>
								</td>
								<td>
									<h5></h5>
								</td>
								<td>
									<p>Безкоштовна</p>
								</td>
							</tr>
							<tr>
								<td>
									<h4>Загалом</h4>
								</td>
								<td>
									<h5></h5>
								</td>
								<td>
									<p>$680.00</p>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</section>
	<!--================End Order Details Area =================-->

{% endblock %}