{%  extends 'base.html' %}
{% load static %}

{% block page_content %}

    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Трекінг заказу</h1>
                    <nav class="d-flex align-items-center">
                        <a href="index.html">Головна<span class="lnr lnr-arrow-right"></span></a>
                        <a href="category.html">Магазин</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <!--================Tracking Box Area =================-->
    <section class="tracking_box_area section_gap">
        <div class="container">
            <div class="tracking_box_inner">
                <p>Щоб відстежити своє замовлення, будь ласка, введіть свій ідентифікатор замовлення у поле нижче та натисніть кнопку «Відстежити». Це
                    було надано вам під час отримання та в електронному листі з підтвердженням, який ви мали отримати.</p>
                <form class="row tracking_form" action="#" method="post" novalidate="novalidate">
                    <div class="col-md-12 form-group">
                        <input type="text" class="form-control" id="order" name="order" placeholder="ID Заказу" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Order ID'">
                    </div>
                    <div class="col-md-12 form-group">
                        <input type="email" class="form-control" id="email" name="email" placeholder="Пошта" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Billing Email Address'">
                    </div>
                    <div class="col-md-12 form-group">
                        <button type="submit" value="submit" class="primary-btn">Знайти посилку</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!--================End Tracking Box Area =================-->

{% endblock %}