{%  extends 'base.html' %}
{% load static %}

{% block page_content %}

    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Реєстрація</h1>
                    <nav class="d-flex align-items-center">
                        <a href="index.html">Головна<span class="lnr lnr-arrow-right"></span></a>
                        <a href="single-product.html">Реєстрація</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <!--================Checkout Area =================-->
    <section class="checkout_area section_gap">
        <div class="container">
            <div class="returning_customer">
                <div class="check_title">
                    <h2>Зареєстровані? <a href="login.html">Нажміть для входу</a></h2>
                </div>
                <p>Якщо ви раніше робили покупки в нас, введіть свої дані в поля нижче. Якщо ви новачок
                    клієнта, перейдіть до розділу «Оплата та доставка».</p>
                <form class="row contact_form" action="#" method="post" novalidate="novalidate">
                    <div class="col-md-6 form-group p_star">
                        <input type="text" class="form-control" id="name" name="name">
                        <span class="placeholder" data-placeholder="Логін або Пошта"></span>
                    </div>
                    <div class="col-md-6 form-group p_star">
                        <input type="password" class="form-control" id="password" name="password">
                        <span class="placeholder" data-placeholder="Пароль"></span>
                    </div>
                    <div class="col-md-12 form-group">
                        <button type="submit" value="submit" class="primary-btn">логін</button>
                        <div class="creat_account">
                            <input type="checkbox" id="f-option" name="selector">
                            <label for="f-option">Запам'ятати</label>
                        </div>
                        <a class="lost_pass" href="#">Забули пароль?</a>
                    </div>
                </form>
            </div>
            <div class="cupon_area">
                <div class="check_title">
                    <h2>Є купони на знижку? <a href="#">Введіть його!</a></h2>
                </div>
                <input type="text" placeholder="Код купона">
                <a class="tp_btn" href="#">Активувати купон</a>
            </div>
            <div class="billing_details">
                <div class="row">
                    <div class="col-lg-8">
                        <h3>Деталі заказа</h3>
                        <form class="row contact_form" action="#" method="post" novalidate="novalidate">
                            <div class="col-md-6 form-group p_star">
                                <input type="text" class="form-control" id="first" name="name">
                                <span class="placeholder" data-placeholder="Імя"></span>
                            </div>
                            <div class="col-md-6 form-group p_star">
                                <input type="text" class="form-control" id="last" name="name">
                                <span class="placeholder" data-placeholder="Прізвище"></span>
                            </div>
                            <div class="col-md-6 form-group p_star">
                                <input type="text" class="form-control" id="number" name="number">
                                <span class="placeholder" data-placeholder="Номер телефону"></span>
                            </div>
                            <div class="col-md-6 form-group p_star">
                                <input type="text" class="form-control" id="email" name="compemailany">
                                <span class="placeholder" data-placeholder="Пошта"></span>
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <select class="country_select">
                                    <option value="1">Україна</option>
                                    <option value="2">Франція</option>
                                    <option value="4">Польша</option>
                                </select>
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <input type="text" class="form-control" id="add1" name="add1">
                                <span class="placeholder" data-placeholder="Адреса доставки"></span>
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <input type="text" class="form-control" id="city" name="city">
                                <span class="placeholder" data-placeholder="Місто"></span>
                            </div>
                            <div class="col-md-12 form-group">
                                <input type="text" class="form-control" id="zip" name="zip" placeholder="Індекс">
                                <textarea class="form-control" name="message" id="message" rows="1" placeholder="Коментар"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-4">
                        <div class="order_box">
                            <h2>Ваше замовлення</h2>
                            <ul class="list">
                                <li><a href="#">Взуття <span>Вартість</span></a></li>
                                <li><a href="#">KD TREY 5 X<span class="middle"></span> <span class="last">$220.00</span></a></li>
                                <li><a href="#">NIKE AIR TRAINER<span class="middle"></span> <span class="last">$170.00</span></a></li>
                                <li><a href="#">NIKE FREE METCON<span class="middle"></span> <span class="last">$340.00</span></a></li>
                            </ul>
                            <ul class="list list_2">
                                <li><a href="#">Вартість взуття <span>$730.00</span></a></li>
                                <li><a href="#">Доставка <span>$10.00</span></a></li>
                                <li><a href="#">Загалом <span>$740.00</span></a></li>
                            </ul>
                            <div class="payment_item active">
                                <div class="radion_btn">
                                    <input type="radio" id="f-option6" name="selector">
                                    <label for="f-option6">Paypal </label>
                                    <img src="{% static 'img/product/card.jpg'%}" alt="">
                                    <div class="check"></div>
                                </div>
                                <p>Оплата через PayPal; Ви можете оплатити кредитною карткою, якщо у вас немає PayPal</p>
                            </div>
                            <div class="creat_account">
                                <input type="checkbox" id="f-option4" name="selector">
                                <label for="f-option4">Я прочитав і приймаю </label>
                                <a href="#">права та обов'язки*</a>
                            </div>
                            <a class="primary-btn" href="#">Перейти до оплати</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Checkout Area =================-->

{% endblock %}