<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Подтверждение регистрации</title>
</head>
<body>
    <h2>Подтверждение регистрации</h2>
    <p>Здравствуйте, {{ user.username }}!</p>
    <p>Вы зарегистрировались на нашем сайте. Для завершения регистрации, пожалуйста, перейдите по следующей ссылке:</p>
    <a href="{{ confirmation_link }}">Подтвердить регистрацию</a>
    <p>Если ссылка не работает, скопируйте и вставьте ее в адресную строку вашего браузера:</p>
    <p>{{ confirmation_link }}</p>
    <p>Спасибо!</p>
</body>
</html>
