{%  extends 'base.html' %}
{% load static %}

{% block page_content %}

    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Зміна паролю</h1>
                    <nav class="d-flex align-items-center">
                        <a href="{% url 'index' %}">Головна<span class="lnr lnr-arrow-right"></span></a>
                        <a href="{% url 'profile' pk=user.id%}">Мій профіль</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <!--================Tracking Box Area =================-->
    <section class="tracking_box_area section_gap">
        <div class="container">
            {% if messages %}
               <div>
                        <ul class="messages" style="text-align: center">
                            {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %} style="font-size: 14px; font-weight: bold;">{{ message }}</li>
                                <br>
                            {% endfor %}
                        </ul>
               </div>
            {% endif %}
            <div class="tracking_box_inner">
                <p>Щоб змінити пароль пройдіть будь ласка валідацію.</p>
                <form
                        class="row tracking_form"
                        action="{% url 'password' pk=user.id%}"
                        method="post"
                >
                    {% csrf_token %}
                    <div class="col-md-12 form-group">
                        <input
                                type="password"
                                class="form-control"
                                name="old_password"
                                placeholder="Старий пароль"
                        >
                    </div>
                    <div class="col-md-12 form-group">
                        <input
                                type="password"
                                class="form-control"
                                name="new_password1"
                                placeholder="Новий пароль"
                        >
                    </div>
                    <div class="col-md-12 form-group">
                        <input
                                type="password"
                                class="form-control"
                                name="new_password2"
                                placeholder="Повторить новий пароль"
                        >
                    </div>
                    <div class="col-md-12 form-group">
                        <button type="submit" value="submit" class="primary-btn">Змінити пароль</button>
                    </div>
                    <div class="col-md-12 form-group">
                        <a href="{% url 'profile' pk=user.id%}" class="primary-btn">Мій профіль</a>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!--================End Tracking Box Area =================-->

{% endblock %}