{%  extends 'base.html' %}
{% load static %}

{% block page_content %}

    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Зміна паролю</h1>
                    <nav class="d-flex align-items-center">
                        <a href="{% url 'index' %}">Головна<span class="lnr lnr-arrow-right"></span></a>
                        <a href="{% url 'login' %}">Вхід</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <!--================Tracking Box Area =================-->
    <section class="tracking_box_area section_gap">
        <div class="container">
            {% if messages %}
               <div>
                        <ul class="messages" style="text-align: center">
                            {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %} style="font-size: 14px; font-weight: bold;">{{ message }}</li>
                                <br>
                            {% endfor %}
                            {{ form.errors.email }}
                        </ul>
               </div>
            {% endif %}
            <div class="tracking_box_inner">
                <p>Забули пароль? Введіть свою email-адресу нижче і ми відправимо вам інструкції по встановленню нового.</p>
                <form
                        class="row tracking_form"
                        method="post"
                >
                    {% csrf_token %}
                    <div class="col-md-12 form-group">
                        <input
                                type="email"
                                class="form-control"
                                autocomplete="email"
                                maxlength="254"
                                name="email"
                                required id="id_email"
                                placeholder="Пошта"
                        >
                    </div>
                    <div class="col-md-12 form-group">
                        <button type="submit" value="submit" class="primary-btn">Змінити пароль</button>
                    </div>
                    <div class="col-md-12 form-group">
                        <a href="{% url 'login' %}" class="primary-btn">Назад</a>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!--================End Tracking Box Area =================-->

{% endblock %}