{%  extends 'base.html' %}
{% load static %}

{% block page_content %}

    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Новий пароль</h1>
                    <nav class="d-flex align-items-center">
                        <a href="{% url 'index' %}">Головна<span class="lnr lnr-arrow-right"></span></a>
                        <a href="{% url 'login' %}">Вхід</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <!--================Tracking Box Area =================-->
    <section class="tracking_box_area section_gap">
        <div class="container">
            {% if messages %}
               <div>
                        <ul class="messages" style="text-align: center">
                            {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %} style="font-size: 14px; font-weight: bold;">{{ message }}</li>
                                <br>
                            {% endfor %}
                        </ul>
               </div>
            {% endif %}
            <div class="tracking_box_inner">

                <h1>Пароль перевстановлено</h1>

                <br><p> Пароль встановлено. Ви можете увійти зараз. </p>

                <div class="col-md-12 form-group">
                    <a href="{% url 'login' %}" class="primary-btn">Увійти</a>
                </div>
                </form>
            </div>
        </div>
    </section>
    <!--================End Tracking Box Area =================-->

{% endblock %}