{% extends 'base.html' %} {% load static %} {% block page_content %}

<!-- CONTAINER -->
<main
  id="user-profile"
  class="user-profile"
>
  <h1 class="user-profile__title">Особистий кабінет</h1>

  <!-- BODY CONTENT -->
  <div class="user-profile__frame">
    <form
      name="user-profile-form"
      class="user-profile__form"
      id="user-profile-form"
      method="post"
      action="#"
    >
      <div class="user-profile__head">
        <div class="user-profile__img">
          <img src="../../static/img/profile/user.svg" width="100" height="100" />
          <label class="user-profile__img-label"><input type="file" /></label>
        </div>

        <div class="user-profile__name">
          <label for="user-profile__name">
            ПІБ*
            <input
              name="name"
              id="user-profile__name"
              type="text"
              placeholder="Ваше прізвище ім’я по-батькові"
              required
            />
          </label>
        </div>
      </div>

      <div class="user-profile__center">
        <div class="user-profile__left">
          <label for="user-profile__birth">
            Дата народження*
            <input
              name="name"
              id="user-profile__birth"
              type="text"
              placeholder="01.01.1980"
              required
            />
          </label>
          <label for="user-profile__email">
            Електронна пошта*
            <input
              name="email"
              id="user-profile__email"
              type="email"
              placeholder="mail@blabla.ua"
              required
            />
          </label>
          <label class="user-profile__city user-profile__dropdown">
            Місто
              <select class="user-profile__dropdown-select select-dropdown">
                <option value="ky">Київ</option>
                <option value="ar">Вінниця</option>
                <option value="bg">Запоріжжя</option>
                <option value="bn">Рівне</option>
                <option value="ca">Тернопіль</option>
                <option value="cs">Луцьк</option>
                <option value="da">Львів</option>
                <option value="de">Дніпро</option>
                <option value="el">Суми</option>
                <option value="en">Херсон</option>
                <option value="es">Одеса</option>
                <option value="es_419">Кропивницький</option>
                <option value="et">Кременчук</option>
                <option value="fa">Чернівці</option>
                <option value="fi">Чернігів</option>
                <option value="fil">Житомир</option>
                <option value="fr">Миколаїв</option>
                <option value="gu">Полтава</option>
                <option value="he">Кривий Ріг</option>
                <option value="hi">Івано-Франківськ</option>
                <option value="hn">Ужгород</option>
                <option value="hr">Хмельницький</option>
                <option value="ht">Біла Церква</option>
                <option value="hu">Донецьк</option>
                <option value="id">Маріуполь</option>
                <option value="it">Бердянськ</option>
                <option value="ja">Луганськ</option>
                <option
                  value="kh"
                  selected
                >
                  Харків
                </option>
              </select>
            <svg
              width="16"
              height="6"
              class="select-dropdown__icon"
              viewBox="0 0 16 6"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M15.291 0L7.64549 6L-2.95639e-05 5.96724e-06L15.291 0Z"
              />
            </svg>
          </label>
        </div>

        <div class="user-profile__right">
          <label for="user-profile__phone">
            Контактний номер*
            <input
              name="phone"
              id="user-profile__phone"
              type="tel"
              placeholder="+38 (011) 222 33 44"
              required
            />
          </label>
          <label for="user-profile__country user-profile__dropdown">
            Країна
            <!-- <div class="dropdown"> -->
              <select class="user-profile__dropdown-select select-dropdown">
                <option value="ky">Польша</option>
                <option value="ar">Німечинна</option>
                <option value="bg">Чехія</option>
                <option value="bn">Литва</option>
                <option value="ca">Франція</option>
                <option value="cs">Угорщина</option>
                <option value="da">Румунія</option>
                <option value="de">Молдова</option>
                <option value="el">Латвія</option>
                <option value="en">Сербія</option>
                <option value="es">Болгарія</option>
                <option value="es_419">Хорватія</option>
                <option value="et">Данія</option>
                <option value="fa">Естонія</option>
                <option value="fi">Австрія</option>
                <option value="fil">Албанія</option>
                <option value="fr">Греція</option>
                <option value="gu">Швейцарія</option>
                <option value="he">Італія</option>
                <option value="hi">Іспанія</option>
                <option value="hn">Португалія</option>
                <option value="hr">Туречинна</option>
                <option value="ht">Норвегія</option>
                <option value="hu">Ірландія</option>
                <option value="id">Великобританія</option>
                <option value="it">Швеція</option>
                <option value="ja">Фінляндія</option>
                <option
                  value="ua"
                  selected
                >
                  Україна
                </option>
              </select>
            <!-- </div> -->
            <svg
              width="16"
              height="6"
              class="select-dropdown__icon"
              viewBox="0 0 16 6"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M15.291 0L7.64549 6L-2.95639e-05 5.96724e-06L15.291 0Z"
              />
            </svg>
          </label>
          <label for="user-profile__zip-code">
            Поштовий індекс
            <input
              name="zip-code"
              id="user-profile__zip-code"
              type="number"
              placeholder="12345"
            />
          </label>
        </div>
      </div>

      <div class="user-profile__addres">
        <label for="user-profile__address">
          Адреса
          <input
            type="text"
            name="address"
            id="user-profile__address"
            placeholder="Ваша адреса"
          />
        </label>
      </div>

      <div class="user-profile__buttons">
        <a
          class="user-profile__order"
          href=""
          ><span></span>
          <span></span>
          <span></span>
          <span></span>
          Мої замовлення
        </a>

        <div class="user-profile__buttons-right">
          <button
            class="user-profile__save"
            type="submit"
            name="save"
          >
            Зберегти
          </button>
          <button
            class="user-profile__reset"
            type="reset"
            name="reset"
          >
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Очистити
          </button>
        </div>
      </div>
    </form>
  </div>
  <!-- END BODY CONTENT -->
</main>
{% endblock %}
