{% extends 'base.html' %}
{% load static %}
{% block page_content %}

<!-- CONTAINER -->
<main
  id="user-profile"
  class="user-profile"
>
  <h1 class="user-profile__title">Особистий кабінет</h1>

  <!-- BODY CONTENT -->
  <div class="user-profile__frame">
    <form
      name="user-profile-form"
      class="user-profile__form"
      id="user-profile-form"
      method="post"
      action="{% url 'profile' pk=user.id%}"
      enctype="multipart/form-data"
    >
    {% csrf_token %}
      <div class="user-profile__head">
        <div class="user-profile__img">
          <img
            src= "{% if not user.photo %}{% static 'img/profile/user.svg' %} {% else %} {{ MEDIA_URL }}{{ user.photo.url }} {% endif %}"
            width="100"
            height="100"
          />
          <label class="user-profile__img-label" for="user-profile__img">
              <input
                      id="user-profile__img"
                      type="file"
                      name="photo"
              />
          </label>
        </div>

        <div class="user-profile__name">
          <label for="user-profile__name">
            Ім’я та прізвище
            <input
              name="first_name"
              id="user-profile__name"
              type="text"
              placeholder="{% if user.first_name %} {{ user.first_name }} {% else %}Ваше ім’я {% endif %}"

              {% if not user.last_name or not user.first_name %}
              required
              {% endif %}
            />
            <input
              name="last_name"
              id="user-profile__name"
              type="text"
              placeholder="{% if user.last_name %} {{ user.last_name }} {% else %}Ваше прізвище {% endif %}"

              {% if not user.last_name or not user.first_name %}
              required
              {% endif %}
            />
          </label>
        </div>
      </div>

      <div class="user-profile__center">
        <div class="user-profile__left">
          <label for="user-profile__birth">
            Дата народження*
            <input
              name="birth_date"
              id="user-profile__birth"
              type="date"
              value="{% if user.birth_date %}{{user.birth_date|date:'Y-m-d'}}{% endif %}"
            />
          </label>
          <label for="user-profile__email">
            Електронна пошта*
            <input
              name="email"
              id="user-profile__email"
              type="email"
              placeholder="{% if user.email %} {{ user.email }} {% else %} example@gmail.com {% endif %}"
              {% if not user.email %}
              required
              {% endif %}
            />
          </label>
          <label class="user-profile__city">
            Місто
            <select
              class="user-profile__city-select"
              tabindex="0"
            >
              <option value="ky">Київ</option>
              <option value="ar">Вінниця</option>
              <option value="bg">Запоріжжя</option>
              <option value="bn">Рівне</option>
              <option value="ca">Тернопіль</option>
              <option value="cs">Луцьк</option>
              <option value="da">Львів</option>
              <option value="de">Дніпро</option>
              <option value="el">Суми</option>
              <option value="en">Херсон</option>
              <option value="es">Одеса</option>
              <option value="es_419">Кропивницький</option>
              <option value="et">Кременчук</option>
              <option value="fa">Чернівці</option>
              <option value="fi">Чернігів</option>
              <option value="fil">Житомир</option>
              <option value="fr">Миколаїв</option>
              <option value="gu">Полтава</option>
              <option value="he">Кривий Ріг</option>
              <option value="hi">Івано-Франківськ</option>
              <option value="hn">Ужгород</option>
              <option value="hr">Хмельницький</option>
              <option value="ht">Біла Церква</option>
              <option value="hu">Донецьк</option>
              <option value="id">Маріуполь</option>
              <option value="it">Бердянськ</option>
              <option value="ja">Луганськ</option>
              <option
                value="kh"
                selected
              >
                Харків
              </option>
            </select>
          </label>
        </div>

        <div class="user-profile__right">
          <label for="user-profile__phone">
            Контактний номер*
            <input
              name="telephone"
              id="user-profile__phone"
              type="tel"
              placeholder="{% if user.telephone %} +38 {{ user.telephone }} {% else %} +38 (011) 222 33 44 {% endif %}"
              {% if not user.telephone %}
              required
              {% endif %}
            />
          </label>
          <label for="user-profile__country">
            Країна
            <select
              class="user-profile__country-select"
              tabindex="1"
            >
              <option value="pol" disabled>Польша</option>
              <option value="ger" disabled>Німечинна</option>
              <option value="cheh" disabled>Чехія</option>
              <option value="lit" disabled>Литва</option>
              <option value="fra" disabled>Франція</option>
              <option value="ugor" disabled>Угорщина</option>
              <option value="rum" disabled>Румунія</option>
              <option value="mol" disabled>Молдова</option>
              <option value="el" disabled>Латвія</option>
              <option value="lat" disabled>Сербія</option>
              <option value="bol" disabled>Болгарія</option>
              <option value="horv" disabled>Хорватія</option>
              <option value="dan" disabled>Данія</option>
              <option value="est">Естонія</option>
              <option value="avs">Австрія</option>
              <option value="alb">Албанія</option>
              <option value="grec">Греція</option>
              <option value="shveic">Швейцарія</option>
              <option value="ita">Італія</option>
              <option value="isp">Іспанія</option>
              <option value="por">Португалія</option>
              <option value="tur">Туречинна</option>
              <option value="norv">Норвегія</option>
              <option value="irl">Ірландія</option>
              <option value="uk">Великобританія</option>
              <option value="shv">Швеція</option>
              <option value="fin">Фінляндія</option>
              <option
                value="ua"
                selected
              >
                Україна
              </option>
            </select>
            <!-- <svg
              width="16"
              height="6"
              class="select-dropdown__icon"
              viewBox="0 0 16 6"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M15.291 0L7.64549 6L-2.95639e-05 5.96724e-06L15.291 0Z"
              />
            </svg> -->
          </label>
          <label for="user-profile__zip-code">
            Поштовий індекс
            <input
              name="zip_code"
              id="user-profile__zip-code"
              type="number"
              placeholder="{% if user.zip_code %} {{ user.zip_code }} {% else %} 12345 {% endif %}"

              {% if not user.zip_code %}
              required
              {% endif %}
            />
          </label>
        </div>
      </div>

      <div class="user-profile__addres">
        <label for="user-profile__address">
          Адреса
          <input
            type="text"
            name="address"
            id="user-profile__address"
            placeholder="{% if user.address %} {{ user.address }} {% else %} Ваша адреса {% endif %}"

            {% if not user.address %}
            required
            {% endif %}

          />
        </label>
      </div>

      <div class="user-profile__buttons">
        <a
          class="user-profile__order"
          href=""
          ><span></span>
          <span></span>
          <span></span>
          <span></span>
          Мої замовлення
        </a>

        <div class="user-profile__buttons-right">
          <button
            class="user-profile__save"
            type="submit"
            name="save"
          >
            Зберегти
          </button>
            <a class="user-profile__reset" href="{% url 'password' pk=user.id%}">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              Змінити пароль
            </a>
{#          <button#}
{#            class="user-profile__reset"#}
{#            type="reset"#}
{#            name="reset"#}
{#          >#}
{#            <span></span>#}
{#            <span></span>#}
{#            <span></span>#}
{#            <span></span>#}
{#            Змінити пароль#}
{#          </button>#}
        </div>
      </div>
    </form>
  </div>
  <!-- END BODY CONTENT -->
</main>
{% endblock %}
