{%  extends 'shop/shop_base.html' %}
{% load static %}

{% block page %}

	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Товари</h1>
					<nav class="d-flex align-items-center">
						<a href="index.html">Головна<span class="lnr lnr-arrow-right"></span></a>
						<a href="category.html">Товари</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->
    <section class="categories">
        <div class="container">
            <div class="row">
				<div class="col-xl-3 col-lg-4 col-md-5">
					<div class="sidebar-categories">
						<div class="head">Категорії</div>

						<ul class="main-categories">
							<li class="main-nav-list"><a data-toggle="collapse" href="#all" aria-expanded="false" aria-controls="all2"><span
									 class="lnr lnr-arrow-right"></span>Всі<span class="number">(28)</span></a>
                                <ul class="collapse" id="all" data-toggle="collapse" aria-expanded="false" aria-controls="all">
                                    {% for category in categories %}
									<li class="main-nav-list child"><a href="{% url 'category_sort' category_id=category.id %}">{{ category.name }}<span class="number">(8)</span></a></li>
                                    {% endfor %}
								</ul>
                                </ul>

                                    {% for category in categories %}
                                    <ul class="main-categories">
                                        <li class="main-nav-list"><a data-toggle="collapse" href="#{{ category.name }}" aria-expanded="false" aria-controls="{{ category.id }}"><span
                                                class="lnr lnr-arrow-right"></span>{{ category.name }}<span class="number">(28)</span></a>
                                            <ul class="collapse" id="{{ category.name }}" data-toggle="collapse" aria-expanded="false" aria-controls="{{ category.name }}">

                                                {% for subcategory in sub_categories %}
                                                {% if subcategory.parent_id == category.id %}
                                                <li class="main-nav-list child"><a href="{{ subcategory.id }}">{{ subcategory.name }}<span class="number">(8)</span></a></li>
                                                {% endif %}
                                                {% endfor %}
                                            </ul>
                                    </ul>
                                    {% endfor %}
                                    </ul>

                    </div>

					<div class="sidebar-filter mt-50">
						<div class="top-filter-head">Фільтр</div>
                        <div class="common-filter">
                            <form action="{% url 'category' %}">
                                <div class="filter-group">
                                    <div class="filter-section">
                                        <div class="head">Бренд</div>
                                        <ul>
                                            {% for brand in brands %}
                                            <li class="filter-list">
                                                <input class="pixel-radio" type="radio" id="{{ brand.id }}" name="brand" value="{{ brand.id }}">
                                                <label for="{{ brand.id }}">{{ brand.name }}</label></li>
                                            {% endfor %}
                                        </ul>
                                    </div>

                                    <div class="filter-section">
                                        <div class="head">Колір</div>
                                        <ul>
                                            {% for color in colors %}
                                            <li class="filter-list">
                                                <input class="pixel-radio" type="radio" id="{{ color.id }}" name="color" value="{{ color.id }}">
                                                <label for="{{ color.id }}">{{ color.name }}</label>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>

                                    <div class="filter-section">
                                        <div class="head">Матеріал</div>
                                        <ul>
                                            {% for material in materials %}
                                            <li class="filter-list">
                                                <input class="pixel-radio" type="radio" id="{{ material.id }}" name="material" value="{{ material.id }}">
                                                <label for="{{ material.id }}">{{ material.name }}</label>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>

                                     <div class="filter-section">
                                        <div class="head">Стать</div>
                                        <ul>
                                            {% for gender in genders %}
                                            <li class="filter-list">
                                                <input class="pixel-radio" type="radio" id="{{ gender.id }}" name="gender" value="{{ gender.id }}">
                                                <label for="{{ gender.id }}">{{ gender.name }}</label>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>

                                    <div class="filter-section">
                                        <div class="head">Застосування</div>
                                        <ul>
                                            {% for application in applications %}
                                            <li class="filter-list">
                                                <input class="pixel-radio" type="radio" id="{{ application.id }}" name="application" value="{{ application.id }}">
                                                <label for="{{ application.id }}">{{ application.name }}</label>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>

                                    <div class="filter-section">
                                        <div class="head">Тип</div>
                                        <ul>
                                            {% for type in types %}
                                            <li class="filter-list">
                                                <input class="pixel-radio" type="radio" id="{{ type.id }}" name="type" value="{{ type.id }}">
                                                <label for="{{ type.id }}">{{ type.name }}</label>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>

                                    <div class="filter-section">
                                        <div class="head">Розмір</div>
                                        <ul>
                                            {% for size in sizes %}
                                            <li class="filter-list">
                                                <input class="pixel-radio" type="radio" id="{{ size.id }}" name="size" value="{{ size.id }}">
                                                <label for="{{ size.id }}">{{ size.name }}</label>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>

                                    <div class="filter-section">
                                        <div class="head">Ціна {{ max_price }} </div>
                                        <div class="price-range-area">
                                            <div id="range-slider"></div>
                                            <div class="filters-price__wrapper d-flex justify-content-between align-items-center">
                                                <label class="filters-price__label">
                                                    <span class="filters-price__text">від:</span>
                                                    <input type="number" min="{{ min_price }}" max="{{ max_price|add:"-1"}}" placeholder="{{ min_price }}" class="filters-price__input" id="input-0" name="price_from">
                                                    <span class="filters-price__text">₴</span>
                                                </label>
                                                <label class="filters-price__label">
                                                    <span class="filters-price__text">до:</span>
                                                    <input type="number" min="{{ min_price|add:"+1"}}" max="{{ max_price }}" placeholder="{{ max_price }}" class="filters-price__input" id="input-1" name="price_to">
                                                    <span class="filters-price__text">₴</span>
                                                </label>
                                            </div>
                                        </div>
                                        <button class="filter-section__btn" type="submit">Застосувати</button>
                                    </div>
                                </div>
                                
                            </form>
                        </div>
					</div>
				</div>
				<div class="col-xl-9 col-lg-8 col-md-7">
					<!-- Start Filter Bar -->
					<div class="filter-bar d-flex flex-wrap align-items-center justify-content-between">
						<div class="sorting">
                            <form id="sorting-form" method="GET" action="{% url 'category' %}">
                                <select name="sort_by" id="sort-by-select">
                                    <option value="popular">Найпопулярніші</option>
                                    <option value="cheap">Від дешевих до дорогих</option>
                                    <option value="expensive">Від дорогих до дешевих</option>
                                    <option value="discounts">Знижки</option>
                                </select>
                          </form>
						</div>
{#                    !TODO я сделал все ендпоинты сделай так что-бы они автоматически отправлялись (через http://127.0.0.1:8000/category/?sort_by=popular)#}

						<div class="pagination">

                            {% if has_previous %}
							<a href="?page={{ previous_page_number }}" class="prev-arrow"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>
                            {% endif %}

                            {% for num in paginator.page_range %}
                                {% if num == current_page %}
                                    <a href="?page={{ num }}" class="active">{{ num }}</a>
                                {% elif num == current_page|add:'-1' or num == current_page|add:'-2' or num == current_page|add:'2' or num == current_page|add:'1' %}
                                    <a href="?page={{ num }}">{{ num }}</a>
                                {% elif num == current_page|add:'-3' or num == current_page|add:'3' %}
                                    <a href="#" class="dot-dot"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>
                                {% endif %}
                            {% endfor %}

							{% if has_next %}
                                 <a href="?page={{ next_page_number }}" class="next-arrow"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                            {% endif %}
						</div>

						<div class="search_input" id="search_input">
							<form action="{% url "category" %}" method="post" class="d-flex justify-content-between">
                            {% csrf_token %}
                            {{ item_form }}
								<button type="submit" class="btn">Пошук</button>
								{% comment %} <span class="lnr lnr-cross" id="close_search" title="Close Search"></span> {% endcomment %}
							</form>
						</div>
					</div>
					<!-- End Filter Bar -->
					<!-- Start Best Seller -->
					<section class="lattest-product-area pb-40 category-list">
						<div class="row">
							<!-- single product -->
                            {% if object_list %}
                            {% for item in object_list %}

							<div class="col-lg-4 col-md-6">
								<div class="single-product">
									<img class="img-fluid" src="{{ item.image.url }}" alt="">
									<div class="product-details" >
										<h6>{{ item.name }}
										<br> {{ item.model }}</h6>
									<div class="price">
                                        {% if item.discount is None %}
                                            <h6>{{ item.price }}</h6>
										{% else %}
                                            <h6>{{ item.discount }}</h6>
                                            <h6 class="l-through">{{ item.price }}</h6>
                                        {% endif %}
									</div>
									<div class="prd-bottom">
										<a href="{% url 'basket' %}" class="social-info">
											<span class="ti-bag"></span>
											<p class="hover-text">Кошик</p>
										</a>
										<a href="{% url 'single_product' id=item.id %}" class="social-info">
											<span class="lnr lnr-move"></span>
											<p class="hover-text">Подробиці</p>
											</a>
										</div>
									</div>
								</div>
							</div>
                            {% endfor %}
                            {% else %}
                            <div class="col-md-6" style="">
								<div class="single-product" style="margin-top: 85px; display: flex; justify-content: center; align-items: center; ">
                                    Пробачте але по вашому запросу нічого не знайдено.
                                </div>
							</div>
                            {% endif %}
						</div>
					</section>
					<!-- End Best Seller -->
					<!-- Start Filter Bar -->
					<div class="filter-bar d-flex flex-wrap justify-content-center align-items-center">

						<div class="pagination">

                            {% if has_previous %}
							<a href="?page={{ previous_page_number }}" class="prev-arrow"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>
                            {% endif %}

                            {% for num in paginator.page_range %}
                                {% if num == current_page %}
                                    <a href="?page={{ num }}" class="active">{{ num }}</a>
                                {% elif num == current_page|add:'-1' or num == current_page|add:'-2' or num == current_page|add:'2' or num == current_page|add:'1' %}
                                    <a href="?page={{ num }}">{{ num }}</a>
                                {% elif num == current_page|add:'-3' or num == current_page|add:'3' %}
                                    <a href="#" class="dot-dot"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>
                                {% endif %}
                            {% endfor %}

							{% if has_next %}
                                 <a href="?page={{ next_page_number }}" class="next-arrow"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                            {% endif %}
						</div>
					</div>
					<!-- End Filter Bar -->
				</div>
			</div>
		</div>
	</section>

    <!-- Modal Quick Product View -->
{#	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">#}
{#		<div class="modal-dialog" role="document">#}
{#			<div class="container relative">#}
{#				<button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
{#					<span aria-hidden="true">&times;</span>#}
{#				</button>#}
{#				<div class="product-quick-view">#}
{#					<div class="row align-items-center">#}
{#						<div class="col-lg-6">#}
{#							<div class="quick-view-carousel">#}
{#								<div class="item" style="background: url(../../static/img/product/p6.jpg);">#}
{##}
{#								</div>#}
{#								<div class="item" style="background: url(../../static/img/product/p5.jpg);">#}
{##}
{#								</div>#}
{#								<div class="item" style="background: url(../../static/img/product/p4.jpg);">#}
{##}
{#								</div>#}
{#							</div>#}
{#						</div>#}
{#						<div class="col-lg-6">#}
{#							<div class="quick-view-content">#}
{#								<div class="top">#}
{#									<h3 class="head">Mill Oil 1000W Heater, White</h3>#}
{#									<div class="price d-flex align-items-center"><span class="lnr lnr-tag"></span> <span class="ml-10">$149.99</span></div>#}
{#									<div class="category">Category: <span>Household</span></div>#}
{#									<div class="available">Availibility: <span>In Stock</span></div>#}
{#								</div>#}
{#								<div class="middle">#}
{#									<p class="content">Mill Oil is an innovative oil filled radiator with the most modern technology. If you are#}
{#										looking for something that can make your interior look awesome, and at the same time give you the pleasant#}
{#										warm feeling during the winter.</p>#}
{#									<a href="#" class="view-full">View full Details <span class="lnr lnr-arrow-right"></span></a>#}
{#								</div>#}
{#								<div class="bottom">#}
{#									<div class="color-picker d-flex align-items-center">Color:#}
{#										<span class="single-pick"></span>#}
{#										<span class="single-pick"></span>#}
{#										<span class="single-pick"></span>#}
{#										<span class="single-pick"></span>#}
{#										<span class="single-pick"></span>#}
{#									</div>#}
{#									<div class="quantity-container d-flex align-items-center mt-15">#}
{#										Quantity:#}
{#                                        <label>#}
{#                                            <input type="text" class="quantity-amount ml-15" value="1" />#}
{#                                        </label>#}
{#                                        <div class="arrow-btn d-inline-flex flex-column">#}
{#											<button class="increase arrow" type="button" title="Increase Quantity"><span class="lnr lnr-chevron-up"></span></button>#}
{#											<button class="decrease arrow" type="button" title="Decrease Quantity"><span class="lnr lnr-chevron-down"></span></button>#}
{#										</div>#}
{##}
{#									</div>#}
{#									<div class="d-flex mt-20">#}
{#										<a href="#" class="view-btn color-2"><span>Add to Cart</span></a>#}
{#										<a href="#" class="like-btn"><span class="lnr lnr-layers"></span></a>#}
{#										<a href="#" class="like-btn"><span class="lnr lnr-heart"></span></a>#}
{#									</div>#}
{#								</div>#}
{#							</div>#}
{#						</div>#}
{#					</div>#}
{#				</div>#}
{#			</div>#}
{#		</div>#}
{#	</div>#}
{% endblock %}
