{%  extends 'base.html' %}
{% load static %}

{% block page_content %}
    <!-- Start shop-page Area -->
    {% block page %}{% endblock %}
    <!-- Start shop-page Area -->

    <!-- Start most-famous-product Area -->
    <section class="related-product-area section_gap_bottom">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
                <div class="section-title">
                    <h1>{{ famous.title.main.title }}</h1>
                    <p>{{ famous.title.main.description }}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9">
                <div class="row">
                    {% for shoes in famous.shoes %}
                    <div class={{ shoes.class }}>
                        <div class="single-related-product d-flex">
                            <a href="{% url 'single_product' %}"><img src="{% static shoes.image %}" alt=""></a>
                            <div class="desc">
                                <a href="{% url 'single_product' %}" class="title">{{ shoes.name }}</a>
                                <div class="price">
                                    <h6>{{ shoes.discount_price }}</h6>
                                    <h6 class="l-through">{{ shoes.price }}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-3">
                <div class="ctg-right">
                    <a href="{% url 'category' %}" target="_blank">
                        <img class="img-fluid d-block mx-auto" src="{% static 'img/category/c5.jpg' %}" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
    </section>
    <!-- End related-product Area -->
{% endblock %}
