{%  extends 'shop/shop_base.html' %}
{% load static %}



{% block page %}

	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>{{ single_object.name }} {{ single_object.model }}</h1>
					<nav class="d-flex align-items-center">
						<a href="{% url 'index' %}">Головна<span class="lnr lnr-arrow-right"></span></a>
						<a href="{% url 'category' %}">Всі товари<span class="lnr lnr-arrow-right"></span></a>
						<a href="{{ request.build_absolute_uri }}">{{ single_object.name }} {{ single_object.model }}</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

    	<!--================Single Product Area =================-->
	<div class="product_image_area">
		<div class="container">
			<div class="row s_product_inner">
				<div class="col-lg-6">
					<div class="s_Product_carousel">
                        {% for item in item_images %}
						<div class="single-prd-item">
							<img class="img-fluid" src="{{ item.photo.url  }}" alt="">
						</div>
                        {% endfor %}
					</div>
				</div>
				<div class="col-lg-5 offset-lg-1">
					<div class="s_product_text" >
						<h3>{{ single_object.name }} {{ single_object.model }}</h3>
                        <div style="display: flex; align-items: center;">
                            {% if single_object.discount %}
                          <h2>₴{{ single_object.discount }}</h2>
                          <h4 style="margin-left: 20px; color: gray; font-size: 14px; text-decoration: line-through;"><s>{{ single_object.price }}</s></h4>
                            {% else %}
                            <h2>₴ {{ single_object.price }}</h2>
                            {% endif %}
                        </div>



						<ul class="list">
							<li>
                                <a class="active">
                                        <span>
                                            Категорія:
                                        </span>

                                        <ul>
                                            {% for application in applications %}
                                            <li>
                                                <a href="{% url 'category' %}?application={{ application.id }}">
                                                   {{ application.name }}
                                                </a>
                                            </li>
                                        {% endfor %}
                                        </ul>
                                </a>
                            </li>

                            <li><a href="{% url 'category' %}?gender={{ single_object.gender_id }}"><span>Стать: {{ single_object.gender }}</span></a></li>
                            <li><a><span>Є в наявності </span> {% if single_object.in_stock >= 1 %}: Так {% else %}: Ні {% endif %}</a></li>
						</ul>
						<p>{{ single_object.description }}</p>
{#						<div class="product_count">#}
{#							<label for="qty">Кількість:</label>#}
{#							<input type="text" name="qty" id="sst" maxlength="12" value="1" title="Quantity:" class="input-text qty">#}
{#							<button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;"#}
{#							 class="increase items-count" type="button"><i class="lnr lnr-chevron-up"></i></button>#}
{#							<button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) && sst > 0 ) result.value--;return false;"#}
{#							 class="reduced items-count" type="button"><i class="lnr lnr-chevron-down"></i></button>#}
{#						</div>#}
						<div class="card_area d-flex align-items-center">
							<a class="primary-btn" href="cart.html">У кошик</a>
{#							<a class="icon_btn" href=""><i class="lnr lnr lnr-heart"></i></a>#}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--================End Single Product Area =================-->

	<!--================Product Description Area =================-->
	<section class="product_description_area">
		<div class="container">
			<ul class="nav nav-tabs" id="myTab" role="tablist">
				<li class="nav-item">
					<a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Опис</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
					 aria-selected="false">Специфікація</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review"
					 aria-selected="false">Відгуки</a>
				</li>
			</ul>
			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
					<p>{{ single_object.description }}</p>
				</div>
				<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
					<div class="table-responsive">
						<table class="table">
							<tbody>
								<tr>
									<td>
										<h5>Ширина</h5>
									</td>
									<td>
										<h5>{{ single_object.length_cm }} см.</h5>
									</td>
								</tr>
								<tr>
									<td>
										<h5>Вага</h5>
									</td>
									<td>
										<h5>{{ single_object.length_cm }} гр.</h5>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

{#                #TODO END CODE#}


				<div class="tab-pane fade show active" id="review" role="tabpanel" aria-labelledby="review-tab">
					<div class="row">
						<div class="col-lg-6">
							<div class="row total_rate">
								<div class="col-6">
									<div class="box_total">
										<h5>Загалом</h5>
                                        {% if average_stars == None %}
                                            <h4 style="font-size: 20px;">Будь першим!</h4>
                                        {% else %}
										<h4>{{ average_stars }}</h4>
                                        {% endif %}
										<h6>({{ average_comments }} Комнтарі)</h6>
									</div>
								</div>
								<div class="col-6">
									<div class="rating_list">
										<h3>Сформовано з {{ average_comments }} відгуків</h3>
										<ul class="list">
											<li><a href="#">5 зірок <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
													 class="fa fa-star"></i><i class="fa fa-star"></i> {{ average_stars_5 }}</a></li>
											<li><a href="#">4 зірки <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
													 class="fa fa-star"></i> {{ average_stars_4 }}</a></li>
											<li><a href="#">3 зірки <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                                     {{ average_stars_3 }}</a></li>
											<li><a href="#">2 зірки <i class="fa fa-star"></i><i class="fa fa-star"></i> {{ average_stars_2 }}</a></li>
											<li><a href="#">1 зірка <i class="fa fa-star"></i> {{ average_stars_1 }}</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="review_list">
                                {% for statistic in statistic_item %}
								<div class="review_item">
									<div class="media">
										<div class="d-flex">
                                            {% if statistic.user.photo %}
											<img src="{{ MEDIA_URL }}{{ statistic.user.photo }}" alt="">
                                            {% else %}
                                            <img src="{% static '/img/profile/user.svg' %}" alt="">
                                            {% endif %}
										</div>
										<div class="media-body">
											<h4>{{ statistic.user}} {{ MEDIA_URL|add:statistic.user.photo }}</h4>
                                             {{ statistic.user_grade }}
											<i class="fa fa-star"></i>
										</div>
									</div>
									<p>{{ statistic.user_comment }}</p>
								</div>
                                {% endfor %}
							</div>
						</div>
						<div class="col-lg-6">
							<div class="review_box">

                                {% if messages %}
                                        <ul class="messages">
                                            {% for message in messages %}
                                            <li{% if message.tags %} class="{{ message.tags }}" style="font-size: 20px; font-weight: bold;"{% endif %}>{{ message }}</li>
                                            {% endfor %}
                                        </ul>
                                {% else %}
								<h4>Залишити відгук</h4>
                                <h6>(Лише для авторізованих користувачів)</h6>
                                <form class="row contact_form" action="{% url 'single_product' uuid=single_object.id %}" method="post" id="contactForm" novalidate="novalidate">
                                  {% csrf_token %}
                                  <div class="col-md-12">
                                    <label for="stars">Ваша оцінка <i class="fa fa-star"></i> :</label>
                                    {{ form.stars }}
                                  </div>
                                  <div class="col-md-12">
                                    <div class="form-group">
                                      {{ form.message }}
                                    </div>
                                  </div>
                                  <div class="col-md-12 text-right">
                                    <button type="submit" value="submit" class="primary-btn">Відправити</button>
                                  </div>
                                </form>
                                {% endif %}


{#								<p>Ваша оцінка:</p>#}
{#								<ul class="list">#}
{#									<li><a href="#"><i class="fa fa-star"></i></a></li>#}
{#									<li><a href="#"><i class="fa fa-star"></i></a></li>#}
{#									<li><a href="#"><i class="fa fa-star"></i></a></li>#}
{#									<li><a href="#"><i class="fa fa-star"></i></a></li>#}
{#									<li><a href="#"><i class="fa fa-star"></i></a></li>#}
{#								</ul>#}
{#								<p>зірок</p>#}

{#								<form class="row contact_form" action="#" method="post" id="contactForm" novalidate="novalidate">#}
{#									<div class="col-md-12">#}
{#										<div class="form-group">#}
{#											<input type="text" class="form-control" id="name" name="name" placeholder="ПІБ" onfocus="this.placeholder = ''" onblur="this.placeholder = 'ПІБ'">#}
{#										</div>#}
{#									</div>#}
{#									<div class="col-md-12">#}
{#										<div class="form-group">#}
{#											<input type="email" class="form-control" id="email" name="email" placeholder="Пошта" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Пошта'">#}
{#										</div>#}
{#									</div>#}
{#									<div class="col-md-12">#}
{#										<div class="form-group">#}
{#											<input type="text" class="form-control" id="number" name="number" placeholder="Номер теоефону" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Номер'">#}
{#										</div>#}
{#									</div>#}
{#                                    <label for="stars">Ваша оцінка:</label>#}
{#                                    <div class="col-md-12">#}
{#                                        <label for="stars">Ваша оцінка <i class="fa fa-star"></i> :</label>#}
{#                                            <select id="stars" name="stars">#}
{#                                                <option value="1">1</option>#}
{#                                                <option value="2">2</option>#}
{#                                                <option value="3">3</option>#}
{#                                                <option value="4">4</option>#}
{#                                                <option value="5">5</option>#}
{#                                            </select>#}
{#                                    </div>#}
{#									<div class="col-md-12">#}
{#										<div class="form-group">#}
{#											<textarea class="form-control" name="message" id="message" rows="1" placeholder="Відгук" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Відгук'"></textarea></textarea>#}
{#										</div>#}
{#									</div>#}
{#									<div class="col-md-12 text-right">#}
{#										<button type="submit" value="submit" class="primary-btn">Відправити</button>#}
{#									</div>#}
{#								</form>#}




							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Product Description Area =================-->

{% endblock %}
